<?xml version="1.0" encoding="UTF-8"?>
<MetaDataObject xmlns="http://v8.1c.ru/8.3/MDClasses" xmlns:app="http://v8.1c.ru/8.2/managed-application/core" xmlns:cfg="http://v8.1c.ru/8.1/data/enterprise/current-config" xmlns:cmi="http://v8.1c.ru/8.2/managed-application/cmi" xmlns:ent="http://v8.1c.ru/8.1/data/enterprise" xmlns:lf="http://v8.1c.ru/8.2/managed-application/logform" xmlns:style="http://v8.1c.ru/8.1/data/ui/style" xmlns:sys="http://v8.1c.ru/8.1/data/ui/fonts/system" xmlns:v8="http://v8.1c.ru/8.1/data/core" xmlns:v8ui="http://v8.1c.ru/8.1/data/ui" xmlns:web="http://v8.1c.ru/8.1/data/ui/colors/web" xmlns:win="http://v8.1c.ru/8.1/data/ui/colors/windows" xmlns:xen="http://v8.1c.ru/8.3/xcf/enums" xmlns:xpr="http://v8.1c.ru/8.3/xcf/predef" xmlns:xr="http://v8.1c.ru/8.3/xcf/readable" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4">
	<Table uuid="3b4f6b05-5a1e-4885-9e38-60c3663d3c65">
		<InternalInfo>
			<xr:GeneratedType name="ExternalDataSourceTableManager.Шелни.EVENTS" category="Manager">
				<xr:TypeId>0f5571d9-4788-457b-b42e-6f5aa6f40ce1</xr:TypeId>
				<xr:ValueId>11e3cb94-4974-475f-886e-43d9d9574b2d</xr:ValueId>
			</xr:GeneratedType>
			<xr:GeneratedType name="ExternalDataSourceTableObject.Шелни.EVENTS" category="Object">
				<xr:TypeId>092f7078-94b9-4f19-a7de-69a8e65bdb73</xr:TypeId>
				<xr:ValueId>84e22d32-9846-48ac-90d6-11d42cad18ed</xr:ValueId>
			</xr:GeneratedType>
			<xr:GeneratedType name="ExternalDataSourceTableRef.Шелни.EVENTS" category="Ref">
				<xr:TypeId>09806f69-8515-452d-9378-d022ee1b0f94</xr:TypeId>
				<xr:ValueId>cf79887a-286d-47ae-b78c-86f6998bf152</xr:ValueId>
			</xr:GeneratedType>
			<xr:GeneratedType name="ExternalDataSourceTableList.Шелни.EVENTS" category="List">
				<xr:TypeId>37282900-1ced-4213-86fc-2f4e40c528dd</xr:TypeId>
				<xr:ValueId>ae72f183-01f7-4872-bd82-8dc3f738b961</xr:ValueId>
			</xr:GeneratedType>
			<xr:GeneratedType name="ExternalDataSourceTableRecordSet.Шелни.EVENTS" category="RecordSet">
				<xr:TypeId>b2407241-9986-4d5a-b85a-9b26b97fb63c</xr:TypeId>
				<xr:ValueId>c7574331-01b1-4ce8-bf6d-fc5863c9890e</xr:ValueId>
			</xr:GeneratedType>
			<xr:GeneratedType name="ExternalDataSourceTableRecordKey.Шелни.EVENTS" category="RecordKey">
				<xr:TypeId>dcbc3d2c-5265-41a8-858e-815780b09a4d</xr:TypeId>
				<xr:ValueId>4b04a419-a0a5-4c95-8144-a493c263003a</xr:ValueId>
			</xr:GeneratedType>
			<xr:GeneratedType name="ExternalDataSourceTableRecordManager.Шелни.EVENTS" category="RecordManager">
				<xr:TypeId>9872b945-f572-469c-9265-903ffb83b7da</xr:TypeId>
				<xr:ValueId>4dbd78d4-ca98-4e33-be26-a31aef64ac53</xr:ValueId>
			</xr:GeneratedType>
		</InternalInfo>
		<Properties>
			<Name>EVENTS</Name>
			<Synonym/>
			<Comment/>
			<TableType>Table</TableType>
			<NameInDataSource>EVENTS</NameInDataSource>
			<ExpressionInDataSource/>
			<TableDataType>NonobjectData</TableDataType>
			<KeyFields>
				<xr:Field>ExternalDataSource.Шелни.Table.EVENTS.Field.ID_EVENT</xr:Field>
				<xr:Field>ExternalDataSource.Шелни.Table.EVENTS.Field.ID_DB</xr:Field>
			</KeyFields>
			<PresentationField/>
			<ParentField/>
			<UnfilledParentValue xsi:nil="true"/>
			<Characteristics/>
			<UseStandardCommands>true</UseStandardCommands>
			<QuickChoice>false</QuickChoice>
			<InputByString/>
			<CreateOnInput>Auto</CreateOnInput>
			<SearchStringModeOnInputByString>Begin</SearchStringModeOnInputByString>
			<ChoiceDataGetModeOnInputByString>Directly</ChoiceDataGetModeOnInputByString>
			<ChoiceHistoryOnInput>Auto</ChoiceHistoryOnInput>
			<DefaultObjectForm/>
			<DefaultRecordForm/>
			<DefaultListForm/>
			<DefaultChoiceForm/>
			<ObjectPresentation/>
			<ExtendedObjectPresentation/>
			<RecordPresentation/>
			<ExtendedRecordPresentation/>
			<ListPresentation/>
			<ExtendedListPresentation/>
			<Explanation/>
			<IncludeHelpInContents>false</IncludeHelpInContents>
			<ReadOnly>true</ReadOnly>
			<TransactionsIsolationLevel>Auto</TransactionsIsolationLevel>
			<DataVersionField/>
			<EditType>InDialog</EditType>
			<BasedOn/>
			<DataLockFields/>
			<DataLockControlMode>Automatic</DataLockControlMode>
		</Properties>
		<ChildObjects>
			<Field uuid="1aeb0dbc-8e33-4048-a5e3-b68b6271b863">
				<Properties>
					<Name>ID_EVENT</Name>
					<Synonym/>
					<Comment/>
					<Type>
						<v8:Type>xs:decimal</v8:Type>
						<v8:NumberQualifiers>
							<v8:Digits>10</v8:Digits>
							<v8:FractionDigits>0</v8:FractionDigits>
							<v8:AllowedSign>Any</v8:AllowedSign>
						</v8:NumberQualifiers>
					</Type>
					<PasswordMode>false</PasswordMode>
					<Format/>
					<EditFormat/>
					<ToolTip/>
					<MarkNegatives>false</MarkNegatives>
					<Mask/>
					<MultiLine>false</MultiLine>
					<ExtendedEdit>false</ExtendedEdit>
					<MinValue xsi:nil="true"/>
					<MaxValue xsi:nil="true"/>
					<FillFromFillingValue>false</FillFromFillingValue>
					<FillValue xsi:nil="true"/>
					<FillChecking>DontCheck</FillChecking>
					<ChoiceParameterLinks/>
					<ChoiceParameters/>
					<QuickChoice>Auto</QuickChoice>
					<CreateOnInput>Auto</CreateOnInput>
					<ChoiceHistoryOnInput>Auto</ChoiceHistoryOnInput>
					<ChoiceForm/>
					<NameInDataSource>ID_EVENT</NameInDataSource>
					<ReadOnly>true</ReadOnly>
					<AllowNull>true</AllowNull>
				</Properties>
			</Field>
			<Field uuid="c118458b-af08-447b-9a42-012a18bcdfb6">
				<Properties>
					<Name>ID_DB</Name>
					<Synonym/>
					<Comment/>
					<Type>
						<v8:Type>xs:decimal</v8:Type>
						<v8:NumberQualifiers>
							<v8:Digits>10</v8:Digits>
							<v8:FractionDigits>0</v8:FractionDigits>
							<v8:AllowedSign>Any</v8:AllowedSign>
						</v8:NumberQualifiers>
					</Type>
					<PasswordMode>false</PasswordMode>
					<Format/>
					<EditFormat/>
					<ToolTip/>
					<MarkNegatives>false</MarkNegatives>
					<Mask/>
					<MultiLine>false</MultiLine>
					<ExtendedEdit>false</ExtendedEdit>
					<MinValue xsi:nil="true"/>
					<MaxValue xsi:nil="true"/>
					<FillFromFillingValue>false</FillFromFillingValue>
					<FillValue xsi:nil="true"/>
					<FillChecking>DontCheck</FillChecking>
					<ChoiceParameterLinks/>
					<ChoiceParameters/>
					<QuickChoice>Auto</QuickChoice>
					<CreateOnInput>Auto</CreateOnInput>
					<ChoiceHistoryOnInput>Auto</ChoiceHistoryOnInput>
					<ChoiceForm/>
					<NameInDataSource>ID_DB</NameInDataSource>
					<ReadOnly>true</ReadOnly>
					<AllowNull>true</AllowNull>
				</Properties>
			</Field>
			<Field uuid="d420ec82-0b42-4efa-9ef6-de9288fc8fb3">
				<Properties>
					<Name>ID_EVENTTYPE</Name>
					<Synonym/>
					<Comment/>
					<Type>
						<v8:Type>xs:decimal</v8:Type>
						<v8:NumberQualifiers>
							<v8:Digits>10</v8:Digits>
							<v8:FractionDigits>0</v8:FractionDigits>
							<v8:AllowedSign>Any</v8:AllowedSign>
						</v8:NumberQualifiers>
					</Type>
					<PasswordMode>false</PasswordMode>
					<Format/>
					<EditFormat/>
					<ToolTip/>
					<MarkNegatives>false</MarkNegatives>
					<Mask/>
					<MultiLine>false</MultiLine>
					<ExtendedEdit>false</ExtendedEdit>
					<MinValue xsi:nil="true"/>
					<MaxValue xsi:nil="true"/>
					<FillFromFillingValue>false</FillFromFillingValue>
					<FillValue xsi:nil="true"/>
					<FillChecking>DontCheck</FillChecking>
					<ChoiceParameterLinks/>
					<ChoiceParameters/>
					<QuickChoice>Auto</QuickChoice>
					<CreateOnInput>Auto</CreateOnInput>
					<ChoiceHistoryOnInput>Auto</ChoiceHistoryOnInput>
					<ChoiceForm/>
					<NameInDataSource>ID_EVENTTYPE</NameInDataSource>
					<ReadOnly>true</ReadOnly>
					<AllowNull>true</AllowNull>
				</Properties>
			</Field>
			<Field uuid="6df4749f-3e84-481f-a38f-3e085120db9f">
				<Properties>
					<Name>ID_DEV</Name>
					<Synonym/>
					<Comment/>
					<Type>
						<v8:Type>xs:decimal</v8:Type>
						<v8:NumberQualifiers>
							<v8:Digits>10</v8:Digits>
							<v8:FractionDigits>0</v8:FractionDigits>
							<v8:AllowedSign>Any</v8:AllowedSign>
						</v8:NumberQualifiers>
					</Type>
					<PasswordMode>false</PasswordMode>
					<Format/>
					<EditFormat/>
					<ToolTip/>
					<MarkNegatives>false</MarkNegatives>
					<Mask/>
					<MultiLine>false</MultiLine>
					<ExtendedEdit>false</ExtendedEdit>
					<MinValue xsi:nil="true"/>
					<MaxValue xsi:nil="true"/>
					<FillFromFillingValue>false</FillFromFillingValue>
					<FillValue xsi:nil="true"/>
					<FillChecking>DontCheck</FillChecking>
					<ChoiceParameterLinks/>
					<ChoiceParameters/>
					<QuickChoice>Auto</QuickChoice>
					<CreateOnInput>Auto</CreateOnInput>
					<ChoiceHistoryOnInput>Auto</ChoiceHistoryOnInput>
					<ChoiceForm/>
					<NameInDataSource>ID_DEV</NameInDataSource>
					<ReadOnly>true</ReadOnly>
					<AllowNull>true</AllowNull>
				</Properties>
			</Field>
			<Field uuid="7ded1986-5712-48a0-8e24-24ad1a4448d4">
				<Properties>
					<Name>ID_PLAN</Name>
					<Synonym/>
					<Comment/>
					<Type>
						<v8:Type>xs:decimal</v8:Type>
						<v8:NumberQualifiers>
							<v8:Digits>10</v8:Digits>
							<v8:FractionDigits>0</v8:FractionDigits>
							<v8:AllowedSign>Any</v8:AllowedSign>
						</v8:NumberQualifiers>
					</Type>
					<PasswordMode>false</PasswordMode>
					<Format/>
					<EditFormat/>
					<ToolTip/>
					<MarkNegatives>false</MarkNegatives>
					<Mask/>
					<MultiLine>false</MultiLine>
					<ExtendedEdit>false</ExtendedEdit>
					<MinValue xsi:nil="true"/>
					<MaxValue xsi:nil="true"/>
					<FillFromFillingValue>false</FillFromFillingValue>
					<FillValue xsi:nil="true"/>
					<FillChecking>DontCheck</FillChecking>
					<ChoiceParameterLinks/>
					<ChoiceParameters/>
					<QuickChoice>Auto</QuickChoice>
					<CreateOnInput>Auto</CreateOnInput>
					<ChoiceHistoryOnInput>Auto</ChoiceHistoryOnInput>
					<ChoiceForm/>
					<NameInDataSource>ID_PLAN</NameInDataSource>
					<ReadOnly>true</ReadOnly>
					<AllowNull>true</AllowNull>
				</Properties>
			</Field>
			<Field uuid="a3b7ec06-e4bc-4263-b725-3f752512609e">
				<Properties>
					<Name>DATETIME</Name>
					<Synonym/>
					<Comment/>
					<Type>
						<v8:Type>xs:dateTime</v8:Type>
						<v8:DateQualifiers>
							<v8:DateFractions>DateTime</v8:DateFractions>
						</v8:DateQualifiers>
					</Type>
					<PasswordMode>false</PasswordMode>
					<Format/>
					<EditFormat/>
					<ToolTip/>
					<MarkNegatives>false</MarkNegatives>
					<Mask/>
					<MultiLine>false</MultiLine>
					<ExtendedEdit>false</ExtendedEdit>
					<MinValue xsi:nil="true"/>
					<MaxValue xsi:nil="true"/>
					<FillFromFillingValue>false</FillFromFillingValue>
					<FillValue xsi:nil="true"/>
					<FillChecking>DontCheck</FillChecking>
					<ChoiceParameterLinks/>
					<ChoiceParameters/>
					<QuickChoice>Auto</QuickChoice>
					<CreateOnInput>Auto</CreateOnInput>
					<ChoiceHistoryOnInput>Auto</ChoiceHistoryOnInput>
					<ChoiceForm/>
					<NameInDataSource>DATETIME</NameInDataSource>
					<ReadOnly>true</ReadOnly>
					<AllowNull>true</AllowNull>
				</Properties>
			</Field>
			<Field uuid="faa343a0-f6f6-4755-a4bc-38910f2db985">
				<Properties>
					<Name>ID_CARD</Name>
					<Synonym/>
					<Comment/>
					<Type>
						<v8:Type>xs:string</v8:Type>
						<v8:StringQualifiers>
							<v8:Length>12</v8:Length>
							<v8:AllowedLength>Variable</v8:AllowedLength>
						</v8:StringQualifiers>
					</Type>
					<PasswordMode>false</PasswordMode>
					<Format/>
					<EditFormat/>
					<ToolTip/>
					<MarkNegatives>false</MarkNegatives>
					<Mask/>
					<MultiLine>false</MultiLine>
					<ExtendedEdit>false</ExtendedEdit>
					<MinValue xsi:nil="true"/>
					<MaxValue xsi:nil="true"/>
					<FillFromFillingValue>false</FillFromFillingValue>
					<FillValue xsi:type="xs:string"/>
					<FillChecking>DontCheck</FillChecking>
					<ChoiceParameterLinks/>
					<ChoiceParameters/>
					<QuickChoice>Auto</QuickChoice>
					<CreateOnInput>Auto</CreateOnInput>
					<ChoiceHistoryOnInput>Auto</ChoiceHistoryOnInput>
					<ChoiceForm/>
					<NameInDataSource>ID_CARD</NameInDataSource>
					<ReadOnly>true</ReadOnly>
					<AllowNull>true</AllowNull>
				</Properties>
			</Field>
			<Field uuid="b55e406f-f26b-46aa-9587-40696885f964">
				<Properties>
					<Name>NOTE</Name>
					<Synonym/>
					<Comment/>
					<Type>
						<v8:Type>xs:string</v8:Type>
						<v8:StringQualifiers>
							<v8:Length>100</v8:Length>
							<v8:AllowedLength>Variable</v8:AllowedLength>
						</v8:StringQualifiers>
					</Type>
					<PasswordMode>false</PasswordMode>
					<Format/>
					<EditFormat/>
					<ToolTip/>
					<MarkNegatives>false</MarkNegatives>
					<Mask/>
					<MultiLine>false</MultiLine>
					<ExtendedEdit>false</ExtendedEdit>
					<MinValue xsi:nil="true"/>
					<MaxValue xsi:nil="true"/>
					<FillFromFillingValue>false</FillFromFillingValue>
					<FillValue xsi:type="xs:string"/>
					<FillChecking>DontCheck</FillChecking>
					<ChoiceParameterLinks/>
					<ChoiceParameters/>
					<QuickChoice>Auto</QuickChoice>
					<CreateOnInput>Auto</CreateOnInput>
					<ChoiceHistoryOnInput>Auto</ChoiceHistoryOnInput>
					<ChoiceForm/>
					<NameInDataSource>NOTE</NameInDataSource>
					<ReadOnly>true</ReadOnly>
					<AllowNull>true</AllowNull>
				</Properties>
			</Field>
			<Field uuid="4b14cf0e-bb13-424e-8cd0-183c15456e84">
				<Properties>
					<Name>ID_VIDEO</Name>
					<Synonym/>
					<Comment/>
					<Type>
						<v8:Type>xs:decimal</v8:Type>
						<v8:NumberQualifiers>
							<v8:Digits>10</v8:Digits>
							<v8:FractionDigits>0</v8:FractionDigits>
							<v8:AllowedSign>Any</v8:AllowedSign>
						</v8:NumberQualifiers>
					</Type>
					<PasswordMode>false</PasswordMode>
					<Format/>
					<EditFormat/>
					<ToolTip/>
					<MarkNegatives>false</MarkNegatives>
					<Mask/>
					<MultiLine>false</MultiLine>
					<ExtendedEdit>false</ExtendedEdit>
					<MinValue xsi:nil="true"/>
					<MaxValue xsi:nil="true"/>
					<FillFromFillingValue>false</FillFromFillingValue>
					<FillValue xsi:nil="true"/>
					<FillChecking>DontCheck</FillChecking>
					<ChoiceParameterLinks/>
					<ChoiceParameters/>
					<QuickChoice>Auto</QuickChoice>
					<CreateOnInput>Auto</CreateOnInput>
					<ChoiceHistoryOnInput>Auto</ChoiceHistoryOnInput>
					<ChoiceForm/>
					<NameInDataSource>ID_VIDEO</NameInDataSource>
					<ReadOnly>true</ReadOnly>
					<AllowNull>true</AllowNull>
				</Properties>
			</Field>
			<Field uuid="88ad90e7-e294-4b21-9766-43aab720aaaf">
				<Properties>
					<Name>ID_PEP</Name>
					<Synonym/>
					<Comment/>
					<Type>
						<v8:Type>xs:decimal</v8:Type>
						<v8:NumberQualifiers>
							<v8:Digits>10</v8:Digits>
							<v8:FractionDigits>0</v8:FractionDigits>
							<v8:AllowedSign>Any</v8:AllowedSign>
						</v8:NumberQualifiers>
					</Type>
					<PasswordMode>false</PasswordMode>
					<Format/>
					<EditFormat/>
					<ToolTip/>
					<MarkNegatives>false</MarkNegatives>
					<Mask/>
					<MultiLine>false</MultiLine>
					<ExtendedEdit>false</ExtendedEdit>
					<MinValue xsi:nil="true"/>
					<MaxValue xsi:nil="true"/>
					<FillFromFillingValue>false</FillFromFillingValue>
					<FillValue xsi:nil="true"/>
					<FillChecking>DontCheck</FillChecking>
					<ChoiceParameterLinks/>
					<ChoiceParameters/>
					<QuickChoice>Auto</QuickChoice>
					<CreateOnInput>Auto</CreateOnInput>
					<ChoiceHistoryOnInput>Auto</ChoiceHistoryOnInput>
					<ChoiceForm/>
					<NameInDataSource>ID_PEP</NameInDataSource>
					<ReadOnly>true</ReadOnly>
					<AllowNull>true</AllowNull>
				</Properties>
			</Field>
			<Field uuid="95f7bedf-5bd1-4fcd-906a-bd42f0489103">
				<Properties>
					<Name>ESS1</Name>
					<Synonym/>
					<Comment/>
					<Type>
						<v8:Type>xs:decimal</v8:Type>
						<v8:NumberQualifiers>
							<v8:Digits>10</v8:Digits>
							<v8:FractionDigits>0</v8:FractionDigits>
							<v8:AllowedSign>Any</v8:AllowedSign>
						</v8:NumberQualifiers>
					</Type>
					<PasswordMode>false</PasswordMode>
					<Format/>
					<EditFormat/>
					<ToolTip/>
					<MarkNegatives>false</MarkNegatives>
					<Mask/>
					<MultiLine>false</MultiLine>
					<ExtendedEdit>false</ExtendedEdit>
					<MinValue xsi:nil="true"/>
					<MaxValue xsi:nil="true"/>
					<FillFromFillingValue>false</FillFromFillingValue>
					<FillValue xsi:nil="true"/>
					<FillChecking>DontCheck</FillChecking>
					<ChoiceParameterLinks/>
					<ChoiceParameters/>
					<QuickChoice>Auto</QuickChoice>
					<CreateOnInput>Auto</CreateOnInput>
					<ChoiceHistoryOnInput>Auto</ChoiceHistoryOnInput>
					<ChoiceForm/>
					<NameInDataSource>ESS1</NameInDataSource>
					<ReadOnly>true</ReadOnly>
					<AllowNull>true</AllowNull>
				</Properties>
			</Field>
			<Field uuid="a9970f74-9e3a-44ea-af4c-0eea6c6eb84e">
				<Properties>
					<Name>ESS2</Name>
					<Synonym/>
					<Comment/>
					<Type>
						<v8:Type>xs:decimal</v8:Type>
						<v8:NumberQualifiers>
							<v8:Digits>10</v8:Digits>
							<v8:FractionDigits>0</v8:FractionDigits>
							<v8:AllowedSign>Any</v8:AllowedSign>
						</v8:NumberQualifiers>
					</Type>
					<PasswordMode>false</PasswordMode>
					<Format/>
					<EditFormat/>
					<ToolTip/>
					<MarkNegatives>false</MarkNegatives>
					<Mask/>
					<MultiLine>false</MultiLine>
					<ExtendedEdit>false</ExtendedEdit>
					<MinValue xsi:nil="true"/>
					<MaxValue xsi:nil="true"/>
					<FillFromFillingValue>false</FillFromFillingValue>
					<FillValue xsi:nil="true"/>
					<FillChecking>DontCheck</FillChecking>
					<ChoiceParameterLinks/>
					<ChoiceParameters/>
					<QuickChoice>Auto</QuickChoice>
					<CreateOnInput>Auto</CreateOnInput>
					<ChoiceHistoryOnInput>Auto</ChoiceHistoryOnInput>
					<ChoiceForm/>
					<NameInDataSource>ESS2</NameInDataSource>
					<ReadOnly>true</ReadOnly>
					<AllowNull>true</AllowNull>
				</Properties>
			</Field>
		</ChildObjects>
	</Table>
</MetaDataObject>