<?xml version="1.0" encoding="UTF-8"?>
<MetaDataObject xmlns="http://v8.1c.ru/8.3/MDClasses" xmlns:app="http://v8.1c.ru/8.2/managed-application/core" xmlns:cfg="http://v8.1c.ru/8.1/data/enterprise/current-config" xmlns:cmi="http://v8.1c.ru/8.2/managed-application/cmi" xmlns:ent="http://v8.1c.ru/8.1/data/enterprise" xmlns:lf="http://v8.1c.ru/8.2/managed-application/logform" xmlns:style="http://v8.1c.ru/8.1/data/ui/style" xmlns:sys="http://v8.1c.ru/8.1/data/ui/fonts/system" xmlns:v8="http://v8.1c.ru/8.1/data/core" xmlns:v8ui="http://v8.1c.ru/8.1/data/ui" xmlns:web="http://v8.1c.ru/8.1/data/ui/colors/web" xmlns:win="http://v8.1c.ru/8.1/data/ui/colors/windows" xmlns:xen="http://v8.1c.ru/8.3/xcf/enums" xmlns:xpr="http://v8.1c.ru/8.3/xcf/predef" xmlns:xr="http://v8.1c.ru/8.3/xcf/readable" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4">
	<Table uuid="5f2783d8-67e7-4b1a-851f-79ab82f89cc4">
		<InternalInfo>
			<xr:GeneratedType name="ExternalDataSourceTableManager.Шелни.SERVER" category="Manager">
				<xr:TypeId>d6895fbd-b1f2-4286-8904-32d60935ffad</xr:TypeId>
				<xr:ValueId>b8f4de91-9af9-4ea6-a2ef-6730dca04ecd</xr:ValueId>
			</xr:GeneratedType>
			<xr:GeneratedType name="ExternalDataSourceTableObject.Шелни.SERVER" category="Object">
				<xr:TypeId>4850db96-8767-456d-a921-34f99a7f5032</xr:TypeId>
				<xr:ValueId>92403a04-8ac9-46eb-9dc2-ed26c5644825</xr:ValueId>
			</xr:GeneratedType>
			<xr:GeneratedType name="ExternalDataSourceTableRef.Шелни.SERVER" category="Ref">
				<xr:TypeId>48f6ae6d-e282-4b21-99b9-a07852669aba</xr:TypeId>
				<xr:ValueId>9965fd24-ed76-4bd0-a14a-7af03e31cbde</xr:ValueId>
			</xr:GeneratedType>
			<xr:GeneratedType name="ExternalDataSourceTableList.Шелни.SERVER" category="List">
				<xr:TypeId>3d6c7318-ce8a-4aa5-8094-4a4ee9c729d1</xr:TypeId>
				<xr:ValueId>e75b3376-f49b-4526-9c5e-52eb88eee58a</xr:ValueId>
			</xr:GeneratedType>
			<xr:GeneratedType name="ExternalDataSourceTableRecordSet.Шелни.SERVER" category="RecordSet">
				<xr:TypeId>5daf5100-579f-4a00-b88c-f88b5b71053e</xr:TypeId>
				<xr:ValueId>babf2e62-4db3-4de8-8a09-5e2b828071de</xr:ValueId>
			</xr:GeneratedType>
			<xr:GeneratedType name="ExternalDataSourceTableRecordKey.Шелни.SERVER" category="RecordKey">
				<xr:TypeId>897e6c7e-c523-4869-a060-fa0885919884</xr:TypeId>
				<xr:ValueId>5d036bd6-a49b-44ea-9dba-28244cc305e9</xr:ValueId>
			</xr:GeneratedType>
			<xr:GeneratedType name="ExternalDataSourceTableRecordManager.Шелни.SERVER" category="RecordManager">
				<xr:TypeId>05ba65a2-2d8a-466a-9fdc-7b9af36533a1</xr:TypeId>
				<xr:ValueId>9ab7800d-7074-421c-b30e-5e4dc1b1bcb5</xr:ValueId>
			</xr:GeneratedType>
		</InternalInfo>
		<Properties>
			<Name>SERVER</Name>
			<Synonym/>
			<Comment/>
			<TableType>Table</TableType>
			<NameInDataSource>SERVER</NameInDataSource>
			<ExpressionInDataSource/>
			<TableDataType>NonobjectData</TableDataType>
			<KeyFields>
				<xr:Field>ExternalDataSource.Шелни.Table.SERVER.Field.ID_SERVER</xr:Field>
				<xr:Field>ExternalDataSource.Шелни.Table.SERVER.Field.ID_DB</xr:Field>
			</KeyFields>
			<PresentationField/>
			<ParentField/>
			<UnfilledParentValue xsi:nil="true"/>
			<Characteristics/>
			<UseStandardCommands>true</UseStandardCommands>
			<QuickChoice>false</QuickChoice>
			<InputByString/>
			<CreateOnInput>Auto</CreateOnInput>
			<SearchStringModeOnInputByString>Begin</SearchStringModeOnInputByString>
			<ChoiceDataGetModeOnInputByString>Directly</ChoiceDataGetModeOnInputByString>
			<ChoiceHistoryOnInput>Auto</ChoiceHistoryOnInput>
			<DefaultObjectForm/>
			<DefaultRecordForm/>
			<DefaultListForm/>
			<DefaultChoiceForm/>
			<ObjectPresentation/>
			<ExtendedObjectPresentation/>
			<RecordPresentation/>
			<ExtendedRecordPresentation/>
			<ListPresentation/>
			<ExtendedListPresentation/>
			<Explanation/>
			<IncludeHelpInContents>false</IncludeHelpInContents>
			<ReadOnly>true</ReadOnly>
			<TransactionsIsolationLevel>Auto</TransactionsIsolationLevel>
			<DataVersionField/>
			<EditType>InDialog</EditType>
			<BasedOn/>
			<DataLockFields/>
			<DataLockControlMode>Automatic</DataLockControlMode>
		</Properties>
		<ChildObjects>
			<Field uuid="36083a1f-40c8-43e4-89f6-171bd2c5c347">
				<Properties>
					<Name>ID_SERVER</Name>
					<Synonym/>
					<Comment/>
					<Type>
						<v8:Type>xs:decimal</v8:Type>
						<v8:NumberQualifiers>
							<v8:Digits>10</v8:Digits>
							<v8:FractionDigits>0</v8:FractionDigits>
							<v8:AllowedSign>Any</v8:AllowedSign>
						</v8:NumberQualifiers>
					</Type>
					<PasswordMode>false</PasswordMode>
					<Format/>
					<EditFormat/>
					<ToolTip/>
					<MarkNegatives>false</MarkNegatives>
					<Mask/>
					<MultiLine>false</MultiLine>
					<ExtendedEdit>false</ExtendedEdit>
					<MinValue xsi:nil="true"/>
					<MaxValue xsi:nil="true"/>
					<FillFromFillingValue>false</FillFromFillingValue>
					<FillValue xsi:nil="true"/>
					<FillChecking>DontCheck</FillChecking>
					<ChoiceParameterLinks/>
					<ChoiceParameters/>
					<QuickChoice>Auto</QuickChoice>
					<CreateOnInput>Auto</CreateOnInput>
					<ChoiceHistoryOnInput>Auto</ChoiceHistoryOnInput>
					<ChoiceForm/>
					<NameInDataSource>ID_SERVER</NameInDataSource>
					<ReadOnly>true</ReadOnly>
					<AllowNull>true</AllowNull>
				</Properties>
			</Field>
			<Field uuid="0f9231a2-221e-4521-bc05-f61f7d2b2cd9">
				<Properties>
					<Name>ID_DB</Name>
					<Synonym/>
					<Comment/>
					<Type>
						<v8:Type>xs:decimal</v8:Type>
						<v8:NumberQualifiers>
							<v8:Digits>10</v8:Digits>
							<v8:FractionDigits>0</v8:FractionDigits>
							<v8:AllowedSign>Any</v8:AllowedSign>
						</v8:NumberQualifiers>
					</Type>
					<PasswordMode>false</PasswordMode>
					<Format/>
					<EditFormat/>
					<ToolTip/>
					<MarkNegatives>false</MarkNegatives>
					<Mask/>
					<MultiLine>false</MultiLine>
					<ExtendedEdit>false</ExtendedEdit>
					<MinValue xsi:nil="true"/>
					<MaxValue xsi:nil="true"/>
					<FillFromFillingValue>false</FillFromFillingValue>
					<FillValue xsi:nil="true"/>
					<FillChecking>DontCheck</FillChecking>
					<ChoiceParameterLinks/>
					<ChoiceParameters/>
					<QuickChoice>Auto</QuickChoice>
					<CreateOnInput>Auto</CreateOnInput>
					<ChoiceHistoryOnInput>Auto</ChoiceHistoryOnInput>
					<ChoiceForm/>
					<NameInDataSource>ID_DB</NameInDataSource>
					<ReadOnly>true</ReadOnly>
					<AllowNull>true</AllowNull>
				</Properties>
			</Field>
			<Field uuid="39c135c6-3f63-463f-ad44-9346fad1ef02">
				<Properties>
					<Name>NAME</Name>
					<Synonym/>
					<Comment/>
					<Type>
						<v8:Type>xs:string</v8:Type>
						<v8:StringQualifiers>
							<v8:Length>50</v8:Length>
							<v8:AllowedLength>Variable</v8:AllowedLength>
						</v8:StringQualifiers>
					</Type>
					<PasswordMode>false</PasswordMode>
					<Format/>
					<EditFormat/>
					<ToolTip/>
					<MarkNegatives>false</MarkNegatives>
					<Mask/>
					<MultiLine>false</MultiLine>
					<ExtendedEdit>false</ExtendedEdit>
					<MinValue xsi:nil="true"/>
					<MaxValue xsi:nil="true"/>
					<FillFromFillingValue>false</FillFromFillingValue>
					<FillValue xsi:type="xs:string"/>
					<FillChecking>DontCheck</FillChecking>
					<ChoiceParameterLinks/>
					<ChoiceParameters/>
					<QuickChoice>Auto</QuickChoice>
					<CreateOnInput>Auto</CreateOnInput>
					<ChoiceHistoryOnInput>Auto</ChoiceHistoryOnInput>
					<ChoiceForm/>
					<NameInDataSource>NAME</NameInDataSource>
					<ReadOnly>true</ReadOnly>
					<AllowNull>true</AllowNull>
				</Properties>
			</Field>
			<Field uuid="cd39399c-75c0-4184-9095-9ca9d0b7d51e">
				<Properties>
					<Name>IP</Name>
					<Synonym/>
					<Comment/>
					<Type>
						<v8:Type>xs:decimal</v8:Type>
						<v8:NumberQualifiers>
							<v8:Digits>10</v8:Digits>
							<v8:FractionDigits>0</v8:FractionDigits>
							<v8:AllowedSign>Any</v8:AllowedSign>
						</v8:NumberQualifiers>
					</Type>
					<PasswordMode>false</PasswordMode>
					<Format/>
					<EditFormat/>
					<ToolTip/>
					<MarkNegatives>false</MarkNegatives>
					<Mask/>
					<MultiLine>false</MultiLine>
					<ExtendedEdit>false</ExtendedEdit>
					<MinValue xsi:nil="true"/>
					<MaxValue xsi:nil="true"/>
					<FillFromFillingValue>false</FillFromFillingValue>
					<FillValue xsi:nil="true"/>
					<FillChecking>DontCheck</FillChecking>
					<ChoiceParameterLinks/>
					<ChoiceParameters/>
					<QuickChoice>Auto</QuickChoice>
					<CreateOnInput>Auto</CreateOnInput>
					<ChoiceHistoryOnInput>Auto</ChoiceHistoryOnInput>
					<ChoiceForm/>
					<NameInDataSource>IP</NameInDataSource>
					<ReadOnly>true</ReadOnly>
					<AllowNull>true</AllowNull>
				</Properties>
			</Field>
			<Field uuid="b24cd651-9736-4eb8-b4ac-26b430fabf23">
				<Properties>
					<Name>PORT</Name>
					<Synonym/>
					<Comment/>
					<Type>
						<v8:Type>xs:decimal</v8:Type>
						<v8:NumberQualifiers>
							<v8:Digits>10</v8:Digits>
							<v8:FractionDigits>0</v8:FractionDigits>
							<v8:AllowedSign>Any</v8:AllowedSign>
						</v8:NumberQualifiers>
					</Type>
					<PasswordMode>false</PasswordMode>
					<Format/>
					<EditFormat/>
					<ToolTip/>
					<MarkNegatives>false</MarkNegatives>
					<Mask/>
					<MultiLine>false</MultiLine>
					<ExtendedEdit>false</ExtendedEdit>
					<MinValue xsi:nil="true"/>
					<MaxValue xsi:nil="true"/>
					<FillFromFillingValue>false</FillFromFillingValue>
					<FillValue xsi:nil="true"/>
					<FillChecking>DontCheck</FillChecking>
					<ChoiceParameterLinks/>
					<ChoiceParameters/>
					<QuickChoice>Auto</QuickChoice>
					<CreateOnInput>Auto</CreateOnInput>
					<ChoiceHistoryOnInput>Auto</ChoiceHistoryOnInput>
					<ChoiceForm/>
					<NameInDataSource>PORT</NameInDataSource>
					<ReadOnly>true</ReadOnly>
					<AllowNull>true</AllowNull>
				</Properties>
			</Field>
			<Field uuid="e7426318-bf77-454c-881d-1b872f269251">
				<Properties>
					<Name>ACTIVE</Name>
					<Synonym/>
					<Comment/>
					<Type>
						<v8:Type>xs:decimal</v8:Type>
						<v8:NumberQualifiers>
							<v8:Digits>10</v8:Digits>
							<v8:FractionDigits>0</v8:FractionDigits>
							<v8:AllowedSign>Any</v8:AllowedSign>
						</v8:NumberQualifiers>
					</Type>
					<PasswordMode>false</PasswordMode>
					<Format/>
					<EditFormat/>
					<ToolTip/>
					<MarkNegatives>false</MarkNegatives>
					<Mask/>
					<MultiLine>false</MultiLine>
					<ExtendedEdit>false</ExtendedEdit>
					<MinValue xsi:nil="true"/>
					<MaxValue xsi:nil="true"/>
					<FillFromFillingValue>false</FillFromFillingValue>
					<FillValue xsi:nil="true"/>
					<FillChecking>DontCheck</FillChecking>
					<ChoiceParameterLinks/>
					<ChoiceParameters/>
					<QuickChoice>Auto</QuickChoice>
					<CreateOnInput>Auto</CreateOnInput>
					<ChoiceHistoryOnInput>Auto</ChoiceHistoryOnInput>
					<ChoiceForm/>
					<NameInDataSource>ACTIVE</NameInDataSource>
					<ReadOnly>true</ReadOnly>
					<AllowNull>true</AllowNull>
				</Properties>
			</Field>
		</ChildObjects>
	</Table>
</MetaDataObject>